<form [formGroup]="formUser" (ngSubmit)="onSubmitForm()" class="card-body text-center">
  <h2 class="fw-bold mb-2 text-uppercase">{{isSignUp ? 'Sign Up':'Login' }}</h2>

<div *ngIf="loggedIn == true">
    <p class="text-white-50 mb-5" >{{isSignUp ?'Please enter your personal data!' : ' Please enter your email and password!' }}</p>
</div >
  <mat-form-field class="form-outline form-white col-md-12 mb-4">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="pat@example.com" formControlName="email">
  </mat-form-field>


    <mat-form-field class="form-outline form-white col-md-12 mb-4" *ngIf="!dataUser">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="your password"  formControlName="password">
    </mat-form-field>


  <div *ngIf="isSignUp === true">
    <mat-form-field  class="form-outline form-white col-md-12 mb-4">
      <mat-label>Phone Number</mat-label>
      <input type="number" matInput placeholder="555 555 1234"formControlName="phoneNumber" >
    </mat-form-field>
  </div>

  <div class="row">
    <div class="container-fluid mb-4">
      <button *ngIf="loggedIn == false"  mat-button class=" btn btn-lg px-5 pr-2 mr-2" color="warn" (click)="cancelBtn()">Cancelar</button>
      <button class="btn {{ loggedIn?'btn-outline-light':''}} btn-lg px-5"  type="submit" [disabled]="formUser.invalid">{{confirmButtonText }}</button>
    </div>
  </div>
</form>



