<form [formGroup]="formMembership" (ngSubmit)="onSubmitForm()">
  <h3  mat-dialog-title>{{isEdit ?'Edit Membership' : 'Insert Membership' }}</h3>
  <div mat-dialog-content>
    <mat-form-field class="form-outline form-white col-md-12 mb-4 example-full-width">
      <mat-label>Name of Membership</mat-label>
      <input type="text" matInput placeholder="Example Membership" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cost</mat-label>
      <input type="number" matInput placeholder="0.00" formControlName="cost">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Duration (months)</mat-label>
      <input type="number" matInput placeholder="12" formControlName="duration">
    </mat-form-field>

    <mat-form-field class="form-outline form-white col-md-12 mb-4 example-full-width">
      <mat-label>Created On</mat-label>
      <input type="datetime" matInput [(ngModel)]="value" formControlName="createdOn">
    </mat-form-field>

    <div class="dialog-buttons">
      <button mat-button type="button" (click)="onCancelClick()">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="formMembership.invalid" >{{confirmButtonText}}</button>
    </div>
  </div>
</form>
